.icon {
  border-radius: 8px;
}

.file-button {
  border-radius: 12px;
  background-color: transparent;
  border: none;
  width: 100%;
}

.file-button:hover {
  background-color: var(--mantine-color-dark-6);
}

.file-button:active {
  background-color: var(--mantine-color-dark-5);
}

.file-button.selected {
  background-color: var(--mantine-color-dark-7);
}
